[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pipenv = "2023.10.3"
dsp-helpers = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
